body {
    width: 200px;
    height: 200px;
    background-color: #263238;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

button {
    padding: 5px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-bottom: 10px;
}